<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Users</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
        <th>Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td>
            <a th:text="${user.id}"></a>
        </td>
        <td>
            <a th:text="${user.name}"></a>
        </td>
        <td>
            <a th:text="${user.password}"></a>
        </td>
        <td>
            <a th:text="${user.mail}"></a>
        </td>
    </tr>
    </tbody>
</table>

</table>
</body>
</html>