<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Recovery</title>
</head>
<body>

<form sec:authorize="hasAuthority('USER')" action="/action_page.php">
    <div >Old password :</div><br>
    <!--<input hidden="hidden" th:value="${idUser}">-->
    <input type="text" name="old" value="">
    <br>
    New password :<br>
    <input type="text" name="new" value="">
    <br>
    Confirm new password :<br>
    <input type="text" name="confirm" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

<form sec:authorize="hasAuthority('ADMIN')" action="/action_page.php">
    <!--<input hidden="hidden" th:value="${idUser}">-->
    New password :<br>
    <input type="text" name="new" value="">
    <br>
    Confirm new password :<br>
    <input type="text" name="confirm" value="">
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>